<?xml version="1.0"?>
<launch>

  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="false" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />
  <arg name="allow_trajectory_execution" default="true"/>

  <arg name="config" default="true"/>
  
  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find birl_baxter_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include>


  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find birl_baxter_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>

  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find birl_baxter_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="$(arg config)" />

  </include>

  <!-- If database loading was enabled, start mongodb as well -->
  <include file="$(find birl_baxter_moveit_config)/launch/default_warehouse_db.launch" if="$(arg db)">
  </include>
  
 <!-- remapping joint_states to /robot/joint_states-->
 <node name="joint_remap" pkg="birl_baxter_moveit_config" type="joint_states_remap_topic.py" respawn="true" />
 
 <!-- launch joint interface-->
<node name="joint_trajectory_action_server" pkg="baxter_interface" type="joint_trajectory_action_server.py" respawn="true" />
</launch>
